html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

div{
    width: 200px;
    height: 250px;
    background: rgb(10, 162, 233);
    transition: width 2s;
    box-shadow: 2px 5px #888888;
    
}
div:hover{
    width: 300px;
}
.countr{
    color: white;
    font-weight: bold;
    margin-top: 15px; 
    text-align: center;  
}
#number{
    color: white;
    font-weight: bold;
    margin-top: 15px; 
    text-align: center;  
}
button{
    width: 180px;
    display: block;
    margin: 10px;
    padding: 20px;
    color: blue;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

#num {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#num:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#num:active {
    color: #000
}

#num:active:after {
    background: transparent;
}

#num:hover:before {
    opacity: 1;
}

#num:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

